In [1]:
#combining all the csv files into one file.

In [2]:
import pandas as pd
import glob
import os


file_path = r'G:\FLIP ROBO\car price prediction\csv files'
all_files = glob.glob(file_path+'/*.csv')
df_all_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged   = pd.concat(df_all_file, ignore_index=True)
df_merged.to_csv( "car_price_csv_merged.csv")

In [3]:
df_merged.shape

(15950, 11)

In [4]:
df_merged.head(5)

,Unnamed: 0,Brand,Model,Variant,Year_of_Manufacturing,Transmission Type,Fuel Type,Kilometers Driven,No of Owners,Price,Location
0,0,Maruti Suzuki,Swift Dzire,NaN,2018,Manual,Petrol,"17,400 km",1st,"6,90,000",Chennai
1,1,Toyota,Innova,NaN,2013,Manual,Diesel,"200,000 km",1st,"6,80,000",Chennai
2,2,Hyundai,i10,NaN,2008,Manual,Petrol,"77,000 km",2nd,"2,60,000",Chennai
3,3,Maruti Suzuki,Swift Dzire,NaN,2015,Manual,Diesel,"105,000 km",1st,"5,49,000",Chennai
4,4,Maruti Suzuki,SX4,NaN,2007,Manual,Petrol,"98,000 km",2nd,"2,10,000",Chennai

In [5]:
duplicate = df_merged[df_merged.duplicated()]
duplicate

Empty DataFrame
Columns: [Unnamed: 0, Brand, Model, Variant, Year_of_Manufacturing, Transmission Type, Fuel Type, Kilometers Driven, No of Owners, Price, Location]
Index: []