In [1]:
#Importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [14]:
#Connect to web driver
driver=webdriver.Chrome(r"D://chromedriver.exe")  #r converts string to raw string
#If not r, we can use executable_path = "C:/path name"

# OLX

In [15]:
#Getting the website to driver
url='https://www.olx.in/cars_c84'
driver.get(url)
#When we run this line, automatically the webpage will be opened

In [16]:
#Creating empty lists
brand=[]
year=[]
fuel=[]
transmission=[]
km=[]
price=[]
prod_URL=[]

#Getting the URL of the cars
for i in range(0,500):
    url=driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in url:
        prod_URL.append(i.get_attribute('href'))
    try:
        next_btn=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
    except NoSuchElementException:
        pass
    
for i in prod_URL:
    driver.get(i)    

    #Extracting car name
    try:
        brand.append(driver.find_element_by_xpath("//div[@class='_3_knn']/div/span[2]").text)
    except NoSuchElementException as e:
        brand.append("-")
        
    #Extracting the year
    try:
        year.append(driver.find_element_by_xpath("//span[@data-aut-id='value_year']").text)
    except NoSuchElementException as e:
        year.append("-")
        
    #Extracting the fuel consumed
    try:
        fuel.append(driver.find_element_by_xpath("//span[@data-aut-id='value_petrol']").text)
    except NoSuchElementException as e:
        fuel.append("-")  
        
    #Extracting the transmission
    try:
        transmission.append(driver.find_element_by_xpath("//span[@data-aut-id='value_transmission']").text)
    except NoSuchElementException as e:
        transmission.append("-") 
        
    #Extracting km driven
    try:
        km.append(driver.find_element_by_xpath("//span[@data-aut-id='value_mileage']").text)
    except NoSuchElementException as e:
        km.append("-") 
        
    #Extracting the price details
    try:
        price.append(driver.find_element_by_xpath("//span[@data-aut-id='itemPrice']").text.replace('₹',''))
    except NoSuchElementException as e:
        price.append("-")

In [31]:
#Creating a dataframe and checking the data extracted
olx=pd.DataFrame({'name':brand,'year':year,'selling_price':price,'km_driven':km,'fuel':fuel,'transmission':transmission})

In [37]:
olx

               name  year selling_price  km_driven           fuel transmission
0           Hyundai  2017      5,25,000   2,200 km         Petrol       Manual
1           Hyundai  2013      5,95,000  91,500 km         Diesel       Manual
2              Ford  2017      7,75,000  36,000 km         Diesel       Manual
3             Honda  2015      4,00,000  90,000 km         Diesel       Manual
4     Maruti Suzuki  2010      2,30,000  40,000 km         Petrol       Manual
...             ...   ...           ...        ...            ...          ...
9995        Hyundai  2012      3,25,000  65,000 km         Petrol       Manual
9996  Maruti Suzuki  2018      2,90,000  85,000 km  CNG & Hybrids       Manual
9997  Maruti Suzuki  2010      3,20,000  72,000 km         Petrol       Manual
9998           Tata  2012      1,85,000  70,000 km         Diesel       Manual
9999           Ford  2018      8,75,000  53,764 km         Diesel       Manual

[10000 rows x 6 columns]

In [38]:
#Saving in a csv file
olx.to_csv('olxdata.csv')